<div class="minimap">
    <div class="minimap-show" id= "minimap-show">
        <img src="https://maps.gstatic.com/tactile/layerswitcher/ic_default-1x.png" width="100%" height="100%" alt="">
        <div id= "minimap-option" class="minimap-option"> 
            <div class="minimap-satellite" style="margin: 10px 10px 0 10px; text-align: center;" (click)="satelliteClick()">
                <img src="https://maps.gstatic.com/tactile/layerswitcher/ic_satellite-1x.png" alt="">
                <p style="margin: 0; color: gray; font-size: 13px;">Satellite</p>
            </div>
            <div class="minimap-hybird" style="margin: 10px 10px 0 10px; text-align: center;" (click)="hybirdClick()">
                <img src="https://maps.gstatic.com/tactile/layerswitcher/ic_bicycling-1x.png"  alt="">
                <p style="margin: 0; color: gray; font-size: 13px;">Hybird</p>
            </div>
        </div>
    </div>
</div>