container{
  height: 100%;

}
#map {
    height: 100%;
    padding: 0;
  }

::ng-deep #map div:nth-child(3) .leaflet-left {
    right: 15px;
    left: auto !important;
    margin-top: 200px;
}
::ng-deep .p-sidebar .p-sidebar-header {
  padding: 0 !important;
}
::ng-deep .p-sidebar-content {
  padding: 0 !important;
}
::ng-deep .p-sidebar-header {
  display: none !important;
}
p-sidebar h2 {
  padding-left: 20px;
  color: blue;
}
::ng-deep p-autocomplete span input {
    width: 400px;
}

::ng-deep .sidebarTop div:first-child {
  width: 500px;
  top: 5px;
  left: 5px;
  height: 98%
}
::ng-deep p-sidebar div:first-child div:nth-child(2) {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
p-autocomplete {
  display: flex;
  justify-content: center;
}