<div id="map" style="position: relative;"></div>
    <div style="position: absolute; z-index: 2000; top: 0;">
        <p-sidebar [(visible)]="visibleSidebar1">
            <h1 style="width: 100%; padding: 20px 0; margin: 0 ;background-color: #2196f3; text-align: center; color: #fff;">VIETMAP</h1>
            <h2>Trang Chủ</h2> <hr>
            <h2>Tài Liệu</h2> <hr>
            <h2>Điều Khoản</h2> <hr>
            <h2>Liên hệ</h2> <hr>
        </p-sidebar>
        
        <div style="padding: 5px; margin: 5px; background: #2196f3; display: flex; align-items: center;">
          
            <p-sidebar [(visible)]="visibleSidebar3" position="top" class="sidebarTop" style="z-index: 2001;">
                <p style="margin-left: 40px;">Điểm Bắt Đầu</p>
                <p-autoComplete [showEmptyMessage]="true" [suggestions]="dataSearch" (completeMethod)="onChangeSearch($event)" field="name" [minLength]="1" (onSelect)="selectAddStart($event)"></p-autoComplete>

                <p style="margin-left: 40px;">Điểm Kết thúc</p>
                <p-autoComplete [showEmptyMessage]="true" [suggestions]="dataSearch" (completeMethod)="onChangeSearch($event)" field="name" [minLength]="1" (onSelect)="selectAddEnd($event)"></p-autoComplete>
                <hr>
                <h1 style="margin:0 40px;">{{distanceWay.toFixed(2)}}km </h1>
  
               <ul>
                   <li *ngFor="let route of routes" style="display: flex; justify-content: space-between;">
                       <img [src]="route.sign" alt="" style="width: 30px; height: 40px;">
                       <p style="width: 60%;">{{route.resultWay}}</p>
                   </li>
               </ul>
            </p-sidebar>
           
            <p-button type="button" class="p-mr-2" (click)="visibleSidebar1 = true" icon="pi pi-align-justify" ></p-button>
            <span class="p-input-icon-left " style="width: 100%;">
                <p-autoComplete [showEmptyMessage]="true" [suggestions]="dataSearch" (completeMethod)="onChangeSearch($event)" field="name" [minLength]="1" (onSelect)="selectAdd($event)"></p-autoComplete>
                <i class="pi pi-search" style="margin-left: 365px;"></i>
            </span>
            <span (click)="visibleSidebar3 = true">
                <img src="https://maps.vietmap.vn/live/assets/icon/direction.png" width="30px" alt="" style="cursor: pointer;">
            </span>
        </div>
    </div>
    
<div style="z-index: 2000; position: absolute; bottom: 40px; right: 16px;">
    <app-minimap   [map] = "map" (changeBaseMap)="changeBaseMap($event)" ></app-minimap>
</div>